/* App.css */

.completeBox {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.numberBox {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom: 10px;
}

.input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cal{
  cursor: pointer;
  color: #00ffbf;
  text-align: center;
}

.button{
  padding: 10px;
}

.buttons1 {
  margin: 5px;
  width: 90px;
  height: 50px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color:#00ffbf;
  cursor: pointer;
}

.buttons {
  margin: 5px;
  width: 90px;
  height: 50px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
}

.buttons:hover {
  background-color: hsl(0, 0%, 89%);
}

table{
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  border: 4px inset #ffffff;
}

th, td{
  font-size: 20px;
  text-align: center;
  color: #000000;
  border: 4px inset #ffffff;
  padding: 8px;
  background-color: whitesmoke;
}

th{
  border: 4px inset #ffffff;
  padding: 8px;
  background-color:#adadad;
  color: rgb(0, 0, 0);
}

tr{
  align-items: center;
}